<ng-template #form let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{supplie.id?'Actualizar insumo':'Registrar nuevo insumo'}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #userForm="ngForm" class="new-event--form">   
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Grupo</label>
            <div class="input-group">
              <ngx-select-dropdown 
              [(ngModel)]="groupSelected" [ngModelOptions]="{standalone: true}"
              (change)="selectionChanged($event,'grupo')" 
              [multiple]="false" 
              [config]="groupConfig" 
              [options]="groups" 
              ngDefaultControl 
              class="w-100 h-100"
              ></ngx-select-dropdown>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Inventariable</label>
            <div class="input-group">
              <div class=" custom-control custom-radio mb-3">
                <input 
                (change)="radioCheck('inventariable',1)"
                [checked]="supplie.inventariado==1?true:false"
                class="custom-control-input"
                id="customRadio0"
                name="custom-radio-0"
                type="radio"
                />
                <label class="custom-control-label" for="customRadio0">
                  Sí
                </label>
              </div>
              <div class=" custom-control custom-radio mb-3">
                <input 
                (change)="radioCheck('inventariable',0)"
                [checked]="supplie.inventariado==0?true:false"
                class="custom-control-input"
                id="customRadio1"
                name="custom-radio-0"
                type="radio"
                />
                <label class="custom-control-label" for="customRadio1">
                  No
                </label>
              </div>
            </div>
          </div>
        </div>        
      </div>  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Código interno</label>
            <input
            placeholder="Código interno"
            class="form-control form-control-alternative new-event--title"
            type="text"
            [(ngModel)]="supplie.cod_interno" 
            [ngModelOptions]="{standalone: true}"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Genérico/Específico</label>
            <div class="input-group">
              <div class=" custom-control custom-radio mb-3">
                <input 
                (change)="radioCheck('generico_especifico',1)"
                [checked]="supplie.generico_especifico==1?true:false"
                class="custom-control-input"
                id="customRadio2"
                name="custom-radio-1"
                type="radio"
                />
                <label class="custom-control-label" for="customRadio2">
                  Genérico
                </label>
              </div>
              <div class=" custom-control custom-radio mb-3">
                <input 
                (change)="radioCheck('generico_especifico',0)"
                [checked]="supplie.generico_especifico==0?true:false"
                class="custom-control-input"
                id="customRadio3"
                name="custom-radio-1"
                type="radio"
                />
                <label class="custom-control-label" for="customRadio3">
                  Específico
                </label>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Código SAP</label>
            <input
            placeholder="Código SAP"
            class="form-control form-control-alternative new-event--title"
            type="text"
            [(ngModel)]="supplie.cod_sap" 
            [ngModelOptions]="{standalone: true}"
            />
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-control-label">Se informa</label>
          <div class="input-group">
            <div class=" custom-control custom-radio mb-3">
              <input 
              (change)="radioCheck('informa',1)"
              [checked]="supplie.informar==1?true:false"
              class="custom-control-input"
              id="customRadio4"
              name="custom-radio-2"
              type="radio"
              />
              <label class="custom-control-label" for="customRadio4">
                Sí
              </label>
            </div>
            <div class=" custom-control custom-radio mb-3">
              <input 
              (change)="radioCheck('informa',0)"
              [checked]="supplie.informar==0?true:false"
              class="custom-control-input"
              id="customRadio5"
              name="custom-radio-2"
              type="radio"
              />
              <label class="custom-control-label" for="customRadio5">
                No
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">          
          <div class="form-group">
            <label class="form-control-label">Tamaño</label>
            <input
            placeholder="Tamaño"
            class="form-control form-control-alternative new-event--title"
            type="text"
            [(ngModel)]="supplie.tamano" 
            [ngModelOptions]="{standalone: true}"
            />
          </div> 
        </div> 
        <div class="col-md-6">
          <label class="form-control-label">Se compra</label>
          <div class="input-group">
            <div class=" custom-control custom-radio mb-3">
              <input 
              (change)="radioCheck('compra',1)"
              [checked]="supplie.comprar==1?true:false"
              class="custom-control-input"
              id="customRadio6"
              name="custom-radio-3"
              type="radio"
              />
              <label class="custom-control-label" for="customRadio6">
                Sí
              </label>
            </div>
            <div class=" custom-control custom-radio mb-3">
              <input 
              (change)="radioCheck('compra',0)"
              [checked]="supplie.comprar==0?true:false"
              class="custom-control-input"
              id="customRadio7"
              name="custom-radio-3"
              type="radio"
              />
              <label class="custom-control-label" for="customRadio7">
                No
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">En tránsito</label>
            <input
            placeholder="En tránsito"
            class="form-control form-control-alternative new-event--title"
            type="text"
            [(ngModel)]="supplie.en_transito" 
            [ngModelOptions]="{standalone: true}"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Descripción</label>
            <input
            placeholder="Descripción"
            class="form-control form-control-alternative new-event--title"
            type="text"
            [(ngModel)]="supplie.descriptions" 
            [ngModelOptions]="{standalone: true}"
            />
          </div>
        </div>
      </div>
      <div class="row"> 

        <div class="col-md-6">
          <div class="form-group">
            <label class="form-control-label">Subir Imagen</label>
            <div class="avatar-upload">
              <div class="avatar-edit">
                  <input type="file" capture="environment" id="imageUpload" (change)="fileProgress($event)"/>
                  <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                  <img 
                    class="profile-user-img img-responsive img-circle" 
                    id="imagePreview" 
                    [src]="previewUrl?previewUrl:'https://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/arrow-upload-icon.png'" 
                    alt="picture">
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
    <div class=" modal-footer">
      <button
      class=" btn btn-primary new-event--add"
      type="submit"
      (click)="register()"
      >
      {{supplie.id?'Actualizar':'Registrar'}}
    </button>
    <button
    (click)="modal.dismiss('Cross click')"
    class=" btn btn-link ml-auto"
    data-dismiss="modal"
    type="button"
    >
    Cerrar
  </button>
</div>
</ng-template>
<ng-template #img let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Imagen del Insumo.</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <img
        alt="Image placeholder"
        style="width: 100%;height: 100%;"
        [src]="versionProductImagen"
      />
    </div>
  </div>
  <div class=" modal-footer">
    <button
    (click)="modal.dismiss('Cross click')"
    class=" btn btn-link ml-auto"
    data-dismiss="modal"
    type="button"
    >
    Cerrar
  </button>
</div>
</ng-template>
<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-12 col-12">
          <h6 class=" h2 d-inline-block mb-0">Insumos</h6>

          <nav
          aria-label="breadcrumb"
          class=" d-none d-md-inline-block ml-md-4"
          >
          <ol class=" breadcrumb breadcrumb-links">
            <li class=" breadcrumb-item">
              <a href="javascript:void(0)"> <i class="ni ni-bullet-list-67"> </i> </a>
            </li>

            <li class=" breadcrumb-item">
              <a href="javascript:void(0)"> Insumos </a>
            </li>

            <li aria-current="page" class=" breadcrumb-item active">
              Gestión de Insumos
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mt--6">

  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center"  style="margin-bottom: 10px;">
            <div class=" col"><h3 class=" mb-0">Lista de insumos</h3></div>

            <div class="col text-right">
              <button class="btn btn-sm btn-primary" (click)="open(form)">
                Crear nuevo
              </button>

              <button class="btn btn-sm btn-primary" (click)="generateReport()">
                Generar Reporte
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <input class="form-control" placeholder="Buscar Insumo..." [(ngModel)]="searchTable">
            </div>
          </div>
        </div>
        <div class=" table-responsive">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
              <tr>               
                <th class=" sort" data-sort="name" scope="col">Imagen</th>

                <th class=" sort" data-sort="name" scope="col" (click)="sortTableBy('cod_interno')">Código interno</th>

                <th class=" sort" data-sort="budget" scope="col" (click)="sortTableBy('cod_sap')">Código SAP</th>

                <th class=" sort" data-sort="budget" scope="col" (click)="sortTableBy('descriptions')">Descripción</th>

                <th class=" sort" data-sort="status" scope="col" (click)="sortTableBy('group_descriptions')">Grupo</th>

                <th class=" sort" data-sort="status" scope="col" (click)="sortTableBy('tamano')">Tamaño</th>

                <th class=" sort" data-sort="status" scope="col" (click)="sortTableBy('inventariado')">Inventariable</th>

                <th class=" sort" data-sort="status" scope="col" (click)="sortTableBy('informar')">Se informa</th>

                <th class=" sort" data-sort="status" scope="col" (click)="sortTableBy('comprar')">Se comprar</th>

                <th class=" sort" data-sort="budget" scope="col" (click)="sortTableBy('name')">Versión</th>

                <th scope="col">Acción</th>
              </tr>
            </thead>

            <tbody class=" list">
              <tr *ngFor="let supplie of ( supplies | filterSupplie: searchTable ) | paginate: { itemsPerPage: 5, currentPage: p } ">
                <th scope="row">
                  <div class=" media align-items-center">
                    <a class=" avatar rounded-circle mr-3" href="javascript:void(0)" (click)="openImage(img,supplie.imagen?supplie.imagen:'assets/img/theme/bootstrap.jpg')">
                      <img alt="Image placeholder" style="width: 100%;height: 100%;" [src]="supplie.imagen?supplie.imagen:'assets/img/theme/bootstrap.jpg'"/>
                  </a>                 
                </div>
              </th>
              <td class=" budget">{{supplie.cod_interno}}</td>

              <td class=" budget">{{supplie.cod_sap!="undefined" && supplie.cod_sap?supplie.cod_sap:'Sin código sap'}}</td>
              
              <td class=" budget">{{supplie.descriptions}}</td>

              <td class=" budget">{{supplie.group.descriptions}}</td>

              <td class=" budget">{{supplie.tamano}}</td>

              <td class=" budget">{{supplie.inventariado==1?'Sí':'No'}}</td>

              <td class=" budget">{{supplie.informar==1?'Sí':'No'}}</td>

              <td class=" budget">{{supplie.comprar==1?'Sí':'No'}}</td>

                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">
                      <a href="javascript:void(0)" (click)="showVersions(supplie.versions)">{{supplie.versions.length}}</a>
                      </span>
                    </div>
                  </div>
                </th>

              <td class=" text-right">
                <div dropdown class="dropdown no-caret">
                  <a
                  id="button-basic"
                  dropdownToggle
                  role="button"
                  class="btn btn-sm btn-icon-only text-light dropdown-toggle"
                  aria-controls="dropdown-basic"
                  >
                  <i class=" fas fa-ellipsis-v"> </i>
                </a>

                <div
                class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                style="position: relative;z-index:10;"
                *dropdownMenu
                >
                <button class="dropdown-item" (click)="edit(supplie,form)">
                  Editar
                </button>
                <button class="dropdown-item" (click)="delete(supplie.id)">
                  Eliminar
                </button>
                <button class="dropdown-item" (click)="goToForm(supplie.id)">
                  Crear nueva versión
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer border-0">
               <pagination-controls 
        (pageChange)="p = $event" 
        maxSize="5" 
        responsive="true" 
        previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
        </div>
</div>
</div>
</div>
<div class="row" *ngIf="suppliesVersions.length>0">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col"><h3 class=" mb-0">Lista de versión de insumo: {{supplie.descriptions}}</h3></div>
            <div class="col text-right">
              <button class="btn btn-sm btn-default" (click)="closeVesionSupplieTable()">
                Cerrar
              </button>
            </div>
          </div>
        </div>
          <div class="table-responsive" >
            <table class=" table align-items-center table-flush">
              <thead class=" thead-light">
                <tr>
                  <th class=" sort" data-sort="name" scope="col">Nombre</th>
                  <th class=" sort" data-sort="budget" scope="col">Imagenes</th>

                </tr>
              </thead>
              <tbody class=" list">
                <tr *ngFor="let supplieVersion of suppliesVersions">
                  <th scope="row">
                    <div class=" media align-items-center">
                      <div class=" media-body">
                        <span class=" name mb-0 text-sm">
                          {{supplieVersion.nombre}}
                        </span>
                      </div>
                    </div>
                  </th>
                             
                  <td>
                    <div class=" avatar-group">
                      <a class=" avatar avatar-sm rounded-circle" tooltip="Frente" placement="top" href="javascript:void(0)" (click)="openImage(img,supplieVersion.imagen?supplieVersion.imagen:'https://www.tibs.org.tw/images/default.jpg','Frente')">
                        <img style="width: 100%;height: 100%;" alt="Frente" [src]="supplieVersion.imagen"/>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> 

      </div>
    </div>
  </div>
</div>